/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/*
body{
  font-family: helvetica;
  background-color: #eee;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50vh;
  margin: 0 auto;
}


.board .cell{
  font-family: monospace;
  background-color: tomato;
  color: white;
  padding: 1rem;
  font-size: 4rem;
}
*/
