body{
  font-family: helvetica;
  background-color: #eee;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50vh;
  margin: 0 auto;
}


.board .cell{
  font-family: monospace;
  background-color: tomato;
  color: white;
  padding: 1rem;
  font-size: 4rem;

}
